<!doctype html>
<html lang="uk">

  {% extends 'base.html' %}

  {% block title %}
    <title>Register</title>
  {% endblock title %}

{% block content %}

  <main class="login-page container d-flex justify-content-center align-items-center">
      
      <form action = "", method = "POST"> <!-- action - action when you press submit button, post - action ( send encrypted information )-->
          <h1 class = "mt-5">Create profile</h1>
          <div class="mb-3">
              <label for="name" class="form-label">Your name:</label>
              <input name = "name" type="text" class="form-control" id="name" placeholder="Enter your name and surname">
              <!-- for and id should be same -->
              <!-- name - name (so we can get data from input)-->
          </div>
          <div class="mb-3">
              <label for="name" class="form-label">username:</label>
              <input name = username type="text" class="form-control" id="name" placeholder="yo! waiting for your username...">
              <!-- for and id should be same -->
          </div>
         <!-- <div class = "mb-3">
            <label class = "form-label">Provide your phone number:</label>
          </div> <!-- form-group// 
          <div class="form-group input-group">
            <div class="input-group-prepend">
             
          </div>
            <select class="custom-select" style="max-width: 120px;">
              <option selected="">+380</option>
              <option value="1">+1</option>
              <option value="2">+44</option>
          
          </select>
          
            <input name="" class="form-control" placeholder="Phone number" type="text">  --> <!---placeholder - text inside the label ( can't be removed  ) 
          </div> <!-- form-group// 
          </div> -->
          <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="password" class="col-form-label">Password:</label>
              </div>
              <div class="col-auto">
                <input name = password type="password" id="password" class="form-control" aria-labelledby="passwordHelpInline">
              </div>
              <div class="col-auto">
                <span id="password" class="form-text">
                  Must be 6-20 characters long.
                </span>
              </div>
            

            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="passwordCheck" class="col-form-label">Repeat Password:</label>
              </div>
              <div class="col-auto">
                <input name = "passwordCheck" type="password" id="password" class="passwordCheck" aria-labelledby="passwordHelpInline">
              </div>
              
              
             </div>
             {% for type, message in get_flashed_messages(True) %}
             <div class="alert {{type}} my-3 "> {{message}} </div>
             {% endfor %}

            <button type = "submit">Register</button>
            <button><a href = "{{url_for('signin')}}">Already have an account? Sign in</a></button>


      </form>  

  </main>

{% endblock content %}
